<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-geofence-fm"
    version="1.0.0">
    <name>GeofenceFM</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/ja1mecc/ionic-cordova-geofence-fm.git</repo>
    

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- Este es el nombre por el cual se accedera el plugin -->
        <clobbers target="GeofenceFM" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="GeofenceFM">
          <param name="android-package" value="com.example.GeofenceFM" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.example.GeofenceTransitionsIntentService"
                android:exported="true"
                android:enabled="true">
                <intent-filter >
                    <action android:name="com.example.ACTION_RECEIVE_GEOFENCE"/>
                </intent-filter>
            </service>
        </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <receiver android:name="com.example.BootReceiver">
          <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
          </intent-filter>
        </receiver>
      </config-file>

      <framework src='com.google.android.gms:play-services-location:11.6.2' />
      <framework src="com.google.firebase:firebase-messaging:11.6.2"/>
      <dependency id="cordova-support-google-services" version="~1.1.0"/>
        
      <source-file src="src/android/com/example/GeofenceFM.java" target-dir="src/com/example/" />
      <source-file src="src/android/com/example/GeofenceSingleton.java" target-dir="src/com/example/" />
      <source-file src="src/android/com/example/GeofenceTransitionsIntentService.java" target-dir="src/com/example/" />
      <source-file src="src/android/com/example/JSONParser.java" target-dir="src/com/example/" />
      <source-file src="src/android/com/example/Constants.java" target-dir="src/com/example/" />
      <source-file src="src/android/com/example/BootReceiver.java" target-dir="src/com/example/" />
      
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="GeofenceFM" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="GeofenceFM">
                <param name="ios-package" value="GeofenceFM" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/GeofenceFM.h" />
        <source-file src="src/ios/GeofenceFM.m" />
    </platform>
</plugin>
